beautifulsoup4==4.11.2
deepface==0.0.79
face-alignment==1.4.1
GitPython==3.1.40
plotly==5.15.0
PyGithub==2.1.1
pytz==2023.3.post1
requests==2.31.0
retina-face==0.0.13
streamlit==1.27.2
streamlit-webrtc==0.47.1
tensorflow==2.13.0
